*.log
*.pyc
.DS_Store
.env
.venv/
__pycache__/
experiments/rnn_add/ckpt.pt
experiments/rnn_dot/ckpt.pt
experiments/rnn_free_running_tf0/ckpt.pt
experiments/rnn_mul/ckpt.pt
experiments/rnn_schedule/ckpt.pt
experiments/rnn_tf_only/ckpt.pt
experiments/t5_finetune/model.safetensors
experiments/trans_abs_learn/ckpt.pt
experiments/trans_abs_sin/ckpt.pt
experiments/trans_base/ckpt.pt
experiments/trans_bs256/ckpt.pt
experiments/trans_lr1e3/ckpt.pt
experiments/trans_lr1e4/ckpt.pt
experiments/trans_pos_relative_mock/ckpt.pt
experiments/trans_rms/ckpt.pt
experiments/trans_scale_deep_L4/ckpt.pt
experiments/trans_scale_small_d128/ckpt.pt
__pycache__/
*.pyc
.venv/
.env
*.log
.DS_Store
